{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CommonRoom - Register{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Register :D</h1>
</div>
<p>
    Old friend?
    <a href="{{ url_for('auth.login') }}">
        Click here to log in
    </a>
</p>
<p>
    You do not need to complete your full profile right away. You can register first, join the community, look around,
    and later add your about-me text, labels, and tags whenever you feel ready.
</p>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
