body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #f9f5e8;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 60px;
}

.sidebar {
  width: 150px;
  border-left: 1px solid #ddd;
  padding: 40px 20px;
  font-family: 'Inter', sans-serif;

}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.brand {
  font-weight: 600;
  margin-bottom: 30px;
  text-decoration: none;
  color: inherit;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar nav a {
  margin-bottom: 18px;
  color: #571178;

  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
}

.sidebar nav a:hover {
  text-decoration-style: solid;
}

/* Aktive Seite dauerhaft durchgezogen */
.sidebar nav a.active {
  text-decoration-style: solid;
  font-weight: 600;
}

.logo {
  height: 1px;
  width: 1px;
}

.sidebar-footer {
  margin-top: auto;
}

