{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_content %}
<h1>Hi, friend!</h1>
<p> First of all: I am überalles happy to have you here. The step to actually visit this page and get into it is already worth it!
    I am sure you'd like to get to know who created this and who you trust.
    So let's not let you walk in the dark any longer. 
    I am a Physics student in my forth Bachelor semester and randomly came up 
    with this idea one night. 
    I wondered why I felt so lonely with my thoughts and issues sometimes even though I have people to talk to. 
    But sometimes it felt like they dont understand it fully what I struggle with and can't relate as much as it is necessary 
    to help properly. Empathy isnt enough in some cases. It is the deep connection of sharing the same feeling,
    being able to share experiences and just being heard by someone you know has felt the same. For sure, sometimes that is also 
    a psychological component, but still, it is there and it feels differently.
    Further, I had remembered talking to some people and surprisingly getting to know that they had experienced one of my struggles as well.
    We jsut came across that topic by accident, by me sharing vulnarable thoughts and casually dropping some emotional info. 
    But even this slight moment of understanding and connection felt so reliefing, so freeing from loneliness. And I actually
    felt okay with myself and the world for a minute. 
    And this is why I randomly thought this night:
    Wait a minute, hold my beer...
    The problem with struggles and being understood is not that there are just no people in my near who can relate. There are plenty of
    students just a few doors next to you who have more or less experienced one or the other struggle you have to deal with. 
    The problem is actually, that we don't know each other. 
    Or sometimes we do know each other and still don't talk about it and don't have the possibility to connect on this deeper level. 
    Because often there isnÄt the space for talking about issues and struggles. 
    Often, making oneself vulnerable would also oüen the other person, but we don't make this first step. 
    We need a safe space to find struggle companions and make the first step without having high social barriers.
    We need an easy and anonymous way to talk about struggles. 
    An easy way to talk to people who actually understand you even if they are not trained to understand you. 
    Because it's another way of understanding we need here. 
    It's understanding conveying the feeling of companionship, support and coexistence with the same emotions. 
    This, professionals can't give you. 
    But we ourselves for each other can.
    Let's do it ourselves!

    So in short:
    Who is this website for?
    It is for every person studying at ETH. 
    If you feel like talking to someone,
    if you feel like you need some insights and exchange or
    if you feel lonely and lost.
    At the same time this doesn't work without you also being down for exchanging experience and listening. 
    This is why this space here is simultaneously for people who feel like sharing experience,
    who have gone through the seemingly most trivial issue and every other struggle,
    in short:
    it is for every single one of you. 
    Let's build a strong community. 
    A community, where everyone can anonymously be part of.
    A community where you can be helped and help. 
    Help and be helped. 

    Let's dive into it with <a href="{{ url_for('main.onboarding') }}">how it works</a> and <a href="{{ url_for('main.rules') }}">rules to remember</a>. 
</p>

{% endblock %}


Inhalt:
    - who am I (briefly and not too detailed)
    - what is my intention
    - who this is for
    - what this website can offer
    - links to how to use and rules 
    - data use disclaimer and professional help
    - my contact data (create new email)