{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>About this website</h1>
</div>
<div class="reading-page">

<h3>Who is behind TalkTo?</h3>
<p>
    First of all: I am beyond happy to have you here. The step of actually visiting this page and engaging with it is already worth a lot!
    I am sure you would like to know who created this and whom you are trusting.
    So let’s not leave you in the dark any longer.
    I am a physics student in my fourth Bachelor’s semester. I love doing many different things, from sports to creative projects and tech stuff, and I randomly came up with this idea one night.
</p>

<h3>Why I built this</h3>
<p>
    I wondered why I sometimes felt so lonely with my thoughts and issues, even though I have people to talk to.
    Sometimes it felt like they did not fully understand what I was struggling with and could not relate enough to help properly.
    Empathy is not always enough. In some cases, what matters is the deep connection of sharing the same feeling, being able to exchange experiences, and simply being heard by someone you know has felt the same.
    Of course, sometimes there is also a psychological component, but still, this feeling exists, and it feels different.
</p>

<p>
    I remembered talking to some people and surprisingly finding out that they had experienced one of my struggles as well.
    We just came across the topic by accident, through me sharing vulnerable thoughts and casually dropping some emotional information.
    But even this small moment of understanding and connection felt so relieving, so freeing from loneliness.
    For a minute, I actually felt okay with myself and the world.
    And this is why I randomly thought that night:
    Wait a minute, hold my beer...
</p>

<h3>Why this kind of space is needed</h3>
<p>
    The problem with struggles and being understood is not that there are no people nearby who can relate.
    There are plenty of students just a few doors away who have more or less experienced one struggle or another.
    The problem is that we do not know each other.
    Or sometimes we do know each other and still do not talk about it, so we do not have the possibility to connect on this deeper level.
</p>

<p>
    Often, there is no space for talking about issues and struggles.
    Often, making oneself vulnerable would also open up the other person, but we do not take this first step.
    We need a safe space to find struggle companions and take the first step without high social barriers.
    We need an easy and anonymous way to talk about struggles.
    An easy way to talk to people who actually understand you, even if they are not trained to understand you.
</p>

<p>
    Because this is another kind of understanding.
    It is an understanding that conveys companionship, support, and coexistence with the same emotions.
    This is something professionals cannot always give you.
    But we can give it to each other.
    Let’s do it ourselves!
</p>

<h3>Who this is for</h3>
<p>
    So, in short:
    Who is this website for?
    It is for every person studying at ETH.
    If you feel like talking to someone, if you feel like you need some insight and exchange, or if you feel lonely and lost, this space is for you.
</p>

<p>
    At the same time, this does not work without people who are also willing to exchange experiences and listen.
    This is why this space is simultaneously for people who feel like sharing their experiences, who have gone through seemingly trivial issues or any other kind of struggle.
    In short: it is for every single one of you.
</p>

<p>
    Let’s build a strong community.
    A community where everyone can anonymously be part of something.
    A community where you can be helped and help.
    Help and be helped.
</p>

<h3>Where to go next</h3>
<p>
    Let’s dive into it with <a href="{{ url_for('main.onboarding') }}">how it works</a> and <a href="{{ url_for('main.rules') }}">rules to remember</a>.
</p>

<h3>Important limits of this platform</h3>
<p>
    Just a quick note for legal and responsibility reasons:
    This is neither a professional website nor the only platform you should choose and use in cases of severe mental illness or severe struggles.
    In those cases, please refer to ...... [add websites, emergency numbers, counselling services, etc.].
    If you want to talk to someone who has received training in listening to people with struggles, please check out the Nightline service and other professional support services.
</p>

<p>
    I do not take responsibility for individual outcomes, and I cannot guarantee help or positive improvement with your struggles by using this platform.
    Instead, I want to create a space for exchange, sharing personal experiences, and feeling anonymously safe and free to talk, ask, and find people just a few doors away.
    If you are okay with that, I am happy to welcome you here!
</p>

<h3>Questions or concerns?</h3>
<p>
    If any questions arise, if you miss features here, or if you want to report abuse, please do not hesitate to reach out to me.
    Please <a href = "mailto:lissy@example.com?subject=Questions%20to%20website%20TalkTo%20%E2%80%94%20{% if current_user.is_authenticated %}{{ current_user.username|urlencode }}{% else %}Username{% endif %}">send me an email</a>.
</p>
</div>

{% endblock %}


<!--Inhalt:
    - who am I (briefly and not too detailed)
    - what is my intention
    - who this is for
    - what this website can offer
    - links to how to use and rules 
    - data use disclaimer and professional help ---- rather in the rules part and onboarding part 
    - my contact data (create new email)  --- soll ich noch email Gerüst vorgeben?-->  
