{% extends "base.html" %}
{% block title %}Onboarding{% endblock %}

{% block page_content %}
<div class="reading-page">
  <h1>How to: Talk to someone who understands you</h1>
<p>
    Let's not wait anymore and get you started!
</p>
<p>
    This platform aims to be easy to use and navigate, as simple as possible but not simpler, and welcoming.
    This is why it has just a few features and a simple design.
    You should start by:
</p>
<ol>
  <li>
  <p>
      Registering and directly setting up a user profile.

      Keep it simple, but add as many tags as there are that describe the struggles you deal with or have dealt with (which will be interesting and helpful for other users).
      Add a funny fact about yourself or answer my icebreaker (sorry about that already...) to make your profile look less like a soulless bot's profile.
      In the "About Me" section, you are free to add additional information about yourself that you find important or would like to share to make the profile more personal.

      But please remember: This is supposed to be an anonymous space where nobody can be identified, for their own safety and privacy, but also to lower the barrier for people who want to talk to you.
      I believe that not knowing the person behind the words can lower the barrier and, due to the absence of prejudice, allow you to focus entirely on the words you exchange.
  </p></li>
  <li>
  <p>
      Next, please take a look at the rules that apply to this website.
      For this platform to be a safe space where everyone feels welcome and free to help and be helped, it is highly important to remember the rules at all times.
      It depends on you, and only you, whether this place dies or flourishes.
      So please be a lovely part of this safe space!
  </p></li>
  <li>
  <p>
      Depending on the intention and reason you had for registering here, continue with the following:
  </p>
  <ul>
      <li>
          If you have struggles you want to talk about with someone who has experienced or is experiencing something similar,
          go on by browsing through the matching profiles that show up in your user profile after adding tags.
          If you don't find the user profiles suitable for your case, go ahead and browse through the tag search library to find your matches and send a connection request.
      </li>
      <li>
          If you registered as a person who is willing to share insights and experiences without currently having a need to talk to someone,
          also check out the matches and the tag search library and feel free to send requests to matching user profiles to lower the barrier for those who might want to start a chat but haven't managed to do so yet.
          Take the first step!

          Otherwise, even though you don't have an urgent topic to talk about, you might still want to chat about some issue without any urgency.
          That is just as valid, and that is what this platform is for as well!
          Go ahead and send a request to matching user profiles.
      </li>
      <li>
          If you don't feel like starting a connection and conversation, you are free to browse the Posts section, which collects thoughts and questions on any topic, or add your own thoughts anonymously.
      </li>
  </ul></li>
</ol>
  <p>
      After sending a connection request to a matching user, you have to wait for their response.
      In case of acceptance, you can start chatting! Yayyyyy!
      To make it less individually awkward and more personal, answer the (actually awkward, but externally awkward) icebreaker questions I prepared in the request form.
      Write a few lines about your intention and click send!
  </p>
  <p>
      You can find your requested chats as well as your active chats under Chat Index.
      Whenever you have a new message, a connection request, or an accepted request, you will find a green dot next to the Chat Index menu item.
      The same happens for new posts.
  </p>


{% endblock %}
