{% extends "base.html" %}  <!--greift auf base struktur zu-->
{% import "bootstrap/wtf.html" as wtf %} <!--um forms zu rendern-->
{% block title %}Posts{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Take a look at some posts!</h1>
    <h4>
        These are posts from your likeminded people. Feel free to read around. 
    </h4>
</div>
<div class="post-form-wrap">
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form) }}
    {% endif %}
</div>
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="profile-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail"
                    src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author">
                <a
                    href="{{ url_for('.user', username=post.author.username) }}"
                    data-profile-preview='{{ {
                        "username": post.author.username,
                        "name": post.author.name or "",
                        "location": post.author.location or "",
                        "about_me": (post.author.about_me or "")[:180],
                        "tags": post.author.tags|map(attribute="name")|list|sort,
                        "avatar_url": post.author.gravatar(size=48)
                    }|tojson }}'
                >
                    {{ post.author.username }}
                </a>
            </div>
            <div class="post-body">{{ post.body }}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='tag_search_widget.js') }}"></script>
{% endblock %}
