{% extends "base.html" %}
{% block title %}Rules{% endblock %}

{% block page_content %}
<div class="reading-page">
  <h1>How to: Talk to someone who understands you</h1>
  <p>
    For this platform being a safe space where everyone feels welcome and free to help and be helped, it is highly important to remember the rules at all times. 
    It depends on you, and only you, whether this place dies or flourishs. So please be a lovely part of this safe space!  
  </p>
  <p>
    <li> No.1 : </li>
    <li> No.2 : </li>
  </p>

</div>

{% endblock %}
