{% extends "base.html" %}
{% block title %}Rules{% endblock %}

{% block page_content %}
<div class="reading-page">
  <h1>How to: Talk to someone who understands you</h1>
<p>
    For this platform to be a safe space where everyone feels welcome and free to help and be helped, it is highly important to remember the rules at all times.
    It depends on you, and only you, whether this place dies or flourishes.
    So please be a lovely part of this safe space!
</p>

<ol>
    <li>
        Only yes is a yes.
        If your request is not accepted, accept that and find other matches.
        You are, at any time, free to decline a request as well.
        During a chat conversation, you have the complete right not to answer a question or to end the conversation by clicking the block button.
    </li>

    <li>
        This platform is for exchanging experiences regarding any kind of issue, struggle, or situation in life.
        Yet, it is definitely <strong>not</strong> for dating or making friends.
        Make sure never to take the conversation in that direction and stick to the struggles you connected over.
        In case you feel uncomfortable, reach out to me via [contact email] and describe the issue.
        I am happy to help, and it is important to me that you feel safe here.
    </li>

    <li>
        What is discussed on this platform and in the chats stays there.
        You are not allowed to take pictures or screenshots, store them, or share information from this platform with third parties.
        Posts may be shared within the community since they are posted publicly here, but they are not to be published elsewhere.
    </li>

    <li>
        This platform is for voluntarily sharing experiences to help other students and to be helped by peers.
        Just as you would talk to a friend in real life, stay calm, respectful, and truthful.
        You gain nothing from sharing misinformation or frightening your peers.
        Whatever you share, do so with care and thoughtfulness about how it will be received on the other side of the screen.
    </li>
</ol>

</div>

{% endblock %}
