{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block page_content %}
<div class="page-header">
  <h1>
    <a href="{{ url_for('main.user', username=user.username) }}">{{ user.username }}</a>
  </h1>
  <img src="{{ user.gravatar(size=100) }}" class="img-rounded profile-avatar-large">
  {% if user == current_user %}
    <p>
    <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
    </p>
    <p>
    <a class="btn btn-default" href="{{ url_for('auth.change_password') }}">Change Password</a>
    </p>
    <p>
    <a class="btn btn-default" href="{{ url_for('auth.change_email_request') }}">Change Email</a>
    </p>
  {% endif %}
</div>
{% endblock %}
